In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
df = pd.read_csv('./digit-recognizer/train.csv')

In [31]:
df.columns

Index(['label', 'pixel0', 'pixel1', 'pixel2', 'pixel3', 'pixel4', 'pixel5',
       'pixel6', 'pixel7', 'pixel8',
       ...
       'pixel774', 'pixel775', 'pixel776', 'pixel777', 'pixel778', 'pixel779',
       'pixel780', 'pixel781', 'pixel782', 'pixel783'],
      dtype='object', length=785)

In [33]:
y_hat = df.loc[0]

In [34]:
y_hat

label       1
pixel0      0
pixel1      0
pixel2      0
pixel3      0
           ..
pixel779    0
pixel780    0
pixel781    0
pixel782    0
pixel783    0
Name: 0, Length: 785, dtype: int64

In [37]:
y_hat = df['label']

In [38]:
ya_hat

NameError: name 'ya_hat' is not defined

In [39]:
y_hat

0        1
1        0
2        1
3        4
4        0
        ..
41995    0
41996    1
41997    7
41998    6
41999    9
Name: label, Length: 42000, dtype: int64

In [47]:
train_label = df.values[:,0]

In [49]:
train_label

array([1, 0, 1, ..., 7, 6, 9], dtype=int64)

In [50]:
train_data = df.values[:, 1:]

In [51]:
train_data

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [53]:
train_label.shape

(42000,)

In [54]:
train_data.shape

(42000, 784)

In [57]:
def normalize(array):
    num = 0
    m, n = array.shape
    for i in range(m):
        for j in range(n):
            if array[i, j] != 0:
                array[i, j] = 1
                num+=1
    return array, num

In [58]:
train_data, num = normalize(train_data)

In [59]:
num

6306688

In [63]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Conv2D, MaxPool2D

ModuleNotFoundError: No module named 'tensorflow'

In [2]:
data = {'a':[1,2,3,4], 'b': [2,3,4,5], 'c': [3,4,5,6]}

In [3]:
data

{'a': [1, 2, 3, 4], 'b': [2, 3, 4, 5], 'c': [3, 4, 5, 6]}

In [7]:
df = pd.DataFrame(data)

In [8]:
df

   a  b  c
0  1  2  3
1  2  3  4
2  3  4  5
3  4  5  6

In [21]:
type(df.loc[0])

pandas.core.series.Series

In [34]:
df.iloc[0].loc['b']

2

In [24]:
type(df.iloc[0])

pandas.core.series.Series

In [39]:
df['a']

0    1
1    2
2    3
3    4
Name: a, dtype: int64

In [35]:
type(df)

pandas.core.frame.DataFrame

In [41]:
df.loc[]

   a  b  c
0  1  2  3
1  2  3  4

In [42]:
df.iloc[[0,1]]

   a  b  c
0  1  2  3
1  2  3  4

In [47]:
type(df['a'])

KeyError: ('a', 0)

In [48]:
df.values

array([[1, 2, 3],
       [2, 3, 4],
       [3, 4, 5],
       [4, 5, 6]], dtype=int64)

In [54]:
df.values[0, 1]

2

In [56]:
df[]

KeyError: ('a', 'b')

In [57]:
data = df

In [58]:
data

   a  b  c
0  1  2  3
1  2  3  4
2  3  4  5
3  4  5  6

In [59]:
data.drop(0)

   a  b  c
1  2  3  4
2  3  4  5
3  4  5  6

In [60]:
data

   a  b  c
0  1  2  3
1  2  3  4
2  3  4  5
3  4  5  6

In [61]:
del data['a']

In [62]:
data

   b  c
0  2  3
1  3  4
2  4  5
3  5  6

In [63]:
data[['b', 'c']]

   b  c
0  2  3
1  3  4
2  4  5
3  5  6

In [67]:
data

   b  c
0  2  3
1  3  4
2  4  5
3  5  6

In [69]:
data.drop(index=[0], columns='b')

   c
1  4
2  5
3  6

In [70]:
data

   b  c
0  2  3
1  3  4
2  4  5
3  5  6

In [83]:
data.insert(column='d', value=[1,1,2,2], loc=1)

In [84]:
data

   a  d  b  c
0  1  1  2  3
1  1  1  3  4
2  2  2  4  5
3  2  2  5  6

In [85]:
data.duplicated()

0    False
1    False
2    False
3    False
dtype: bool

In [90]:
data.drop_duplicates('a')

   a  d  b  c
0  1  1  2  3
2  2  2  4  5

In [91]:
data

   a  d  b  c
0  1  1  2  3
1  1  1  3  4
2  2  2  4  5
3  2  2  5  6